body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.login-container {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 350px; 
    text-align: center;
    background-color: #fff;
}

h2 { margin-bottom: 20px; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Μπλε κουμπί */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Σύνδεσμοι για εγγραφή */
.links {
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    display: block;
    margin-top: 8px;
    color: #007bff;
}

.links a:hover {
    text-decoration: underline;
} 

.searchTable {
    display: flex;         
    justify-content: center; 
    align-items: center;   
    gap: 20px;            
    margin-top: 20px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.searchTable table td {
    padding: 5px;
    font-weight: bold;
}

/* Πίνακας Αποτελεσμάτων */
#resultsTable {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
}

#resultsTable th {
    background-color: #007bff;
    color: white;
    padding: 12px;
}

#resultsTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
