<html>
  <head>
  </head>
  <body>
	<div class="main">
		</br>
		<h2>Εγγραφή Πολίτη</h2>
		</br>
				<table>
					<tr>
						<td>ΑΦΜ:</td>
						<td><input type='text' id='afm'></td>
					</tr>
					<tr>
						<td>Όνομα:</td>
						<td><input type='text' id='firstName'></td>
					</tr>

					<tr>
						<td>Επώνυμο:</td>
						<td><input type='text' id='surName'></td>
					</tr>

					<tr>
						<td>Email:</td>
						<td><input type='text' id='email'></td>

					</tr>

					<tr>
						<td>Password:</td>
						<td><input type='password' id='password'></td>
					</tr>
					
					<tr>
						<td>Καλάθι:</td>
						<td><input type='text' id='cart'></td>
					</tr>

				</table>
				</br>
				<button name='register' onclick="register();">Εγγραφή</button>
				</br>
     </body>
</html>